<header>
    <a href="/" title="Return to the homepage" data-test-id="logo" id="logo">
        <img src="favicon.ico" width="40" alt="Faubourg logo" />
    </a>
    <h2 data-test-id="app-name">faubourg</h2>
    <nav data-test-id="menu">
        <ul>
            <li data-test-id="places"><a href="/places" title="View all places">Places</a></li>
            <li data-test-id="map"><a href="/map" title="View map of places">Map</a></li>
            <li data-test-id="add-place"><a href="/add-place" title="Add a new place">Add a place</a></li>
        </ul>
    </nav>
</header>
